.all {
  width: 100px;
  height: 100px;
  background: url(../images/acIcons.png);
  background-size: 2030%;
}

/* BUGS */

#commonButterfly.all {background-position: 70% 50%;}
#yellowButterfly.all {background-position: 75% 50%;}
#tigerButterfly.all {background-position: 80% 50%;}
#peacockButterfly.all {background-position: 85% 50%;}
#commonBluebottle.all {background-position: 100% 87.5%;}
#paperKiteButterfly.all {background-position: 0% 100%;}
#greatPurpleEmperor.all {background-position: 5% 100%;}
#monachButterfly.all {background-position: 90% 50%;}
#emperorButterfly.all {background-position: 95% 50%;}
#agriasButterfly.all {background-position: 100% 50%;}
#rajaBrookesBirdwing.all {background-position: 0% 62.5%;}
#queenAlexandrasBirdwing.all {background-position: 5% 62.5%;}
#moth.all {background-position: 10% 62.5%;}
#atlasMoth.all {background-position: 15% 62.5%;}
#madagascanSunsetMoth.all {background-position: 30% 100%;}
#longLocust.all {background-position: 30% 62.5%;}
#migratoryLocust.all {background-position: 35% 62.5%;}
#riceGrasshopper.all {background-position: 80% 87.5%;}
#grasshopper.all {background-position: 10% 75%;}
#cricket.all {background-position: 0% 75%;}
#bellCricket.all {background-position: 5% 75%;}
#mantis.all {background-position: 40% 62.5%;}
#orchidMantis.all {background-position: 45% 62.5%;}
#honeybee.all {background-position: 20% 62.5%;}
#wasp.all {background-position: 25% 62.5%;}
#brownCicada.all {background-position: 50% 62.5%;}
#robustCicada.all {background-position: 55% 62.5%;}
#giantCicada.all {background-position: 70% 87.5%;}
#walkerCicada.all {background-position: 60% 62.5%;}
#eveningCicada.all {background-position: 65% 62.5%;}
#cicadaShell.all {background-position: 85% 87.5%;}
#redDragonfly.all {background-position: 70% 62.5%;}
#darnerDragonfly.all {background-position: 75% 62.5%;}
#bandedDragonfly.all {background-position: 80% 62.5%;}
#damselfly.all {background-position: 40% 100%;}
#firefly.all {background-position: 55% 75%;}
#moleCricket.all {background-position: 15% 75%;}
#pondskater.all {background-position: 90% 62.5%;}
#divingBeetle.all {background-position: 95% 62.5%;}
#giantWaterBug.all {background-position: 15% 100%;}
#stinkbug.all {background-position: 65% 87.5%;}
#man-facedStinkBug.all {background-position: 25% 100%;}
#ladybug.all {background-position: 35% 75%;}
#tigerBeetle.all {background-position: 90% 87.5%;}
#jewelBeetle.all {background-position: 70% 75%;}
#violinBeetle.all {background-position: 40% 75%;}
#citrusLong-hornedBeetle.all {background-position: 45% 75%;}
#rosaliaBatesiBeetle.all {background-position: 45% 100%;}
#blueWeevilBeetle.all {background-position: 35% 100%;}
#dungBeetle.all {background-position: 50% 75%;}
#earth-boringDungBeetle.all {background-position: 60% 75%;}
#scarabBeetle.all {background-position: 65% 75%;}
#droneBeetle.all {background-position: 10% 100%;}
#goliathBeetle.all {background-position: 20% 87.5%;}
#sawStag.all {background-position: 80% 75%;}
#miyamaStag.all {background-position: 75% 75%;}
#giantStag.all {background-position: 85% 75%;}
#rainbowStag.all {background-position: 90% 75%;}
#cyclommatusStag.all {background-position: 95% 75%;}
#goldenStag.all {background-position: 100% 75%;}
#giraffeStag.all {background-position: 20% 100%;}
#hornedDynastid.all {background-position: 0% 87.5%;}
#hornedAtlas.all {background-position: 5% 87.5%;}
#hornedElephant.all {background-position: 10% 87.5%;}
#hornedHerucles.all {background-position: 15% 87.5%;}
#walkingStick.all {background-position: 25% 75%;}
#walkingLeaf.all {background-position: 20% 75%;}
#bagworm.all {background-position: 30% 75%;}
#ant.all {background-position: 85% 62.5%;}
#hermitCrab.all {background-position: 75% 87.5%;}
#wharfRoach.all {background-position: 95% 87.5%;}
#fly.all {background-position: 40% 87.5%;}
#mosquito.all {background-position: 35% 87.5%;}
#flea.all {background-position: 25% 87.5%;}
#Snail.all {background-position: 100% 62.5%;}
#pillBug.all {background-position: 30% 87.5%;}
#centipede.all {background-position: 45% 87.5%;}
#spider.all {background-position: 50% 87.5%;}
#tarantula.all {background-position: 55% 87.5%;}
#scorpion.all {background-position: 60% 87.5%;}

/* FISH */

#bitterling.all {background-position: 90% 0%;}
#pale-chub.all {background-position: 95% 0%;}
#crucian-carp.all {background-position: 100% 0%;}
#dace.all {background-position: 0% 12.5%;}
#carp.all {background-position: 5% 12.5%;}
#koi.all {background-position: 10% 12.5%;}
#goldfish.all {background-position: 15% 12.5%;}
#pop-eyed-goldfish.all {background-position: 20% 12.5%;}
#ranchu-goldfish.all {background-position: 65% 50%;}
#killifish.all {background-position: 25% 12.5%;}
#crawfish.all {background-position: 30% 12.5%;}
#soft-shelled-turtle.all {background-position: 70% 37.5%;}
#snapping-turtle.all {background-position: 30% 50%;}
#tadpole.all {background-position: 65% 37.5%;}
#frog.all {background-position: 35% 12.5%;}
#freshwater-goby.all {background-position: 40% 12.5%;}
#loach.all {background-position: 45% 12.5%;}
#catfish.all {background-position: 50% 12.5%;}
#giant-snakehead.all {background-position: 55% 12.5%;}
#bluegill.all {background-position: 60% 12.5%;}
#yellow-perch.all {background-position: 65% 12.5%;}
#black-bass.all {background-position: 70% 12.5%;}
#tilapia.all {background-position: 20% 50%;}
#pike.all {background-position: 75% 12.5%;}
#pond-smelt.all {background-position: 80% 12.5%;}
#sweetfish.all {background-position: 85% 12.5%;}
#cherry-salmon.all {background-position: 90% 12.5%;}
#char.all {background-position: 95% 12.5%;}
#golden-trout.all {background-position: 35% 50%;}
#stringfish{background-position: 100% 12.5%;}
#salmon.all {background-position: 0% 25%;}
#king-salmon.all {background-position: 5% 25%;}
#mitten-crab.all {background-position: 75% 37.5%;}
#guppy.all {background-position: 10% 25%;}
#nibble-fish.all {background-position: 80% 37.5%;}
#angelfish.all {background-position: 15% 25%;}
#betta.all {background-position: 25% 50%;}
#neon-tetra.all {background-position: 20% 25%;}
#rainbowfish.all {background-position: 40% 50%;}
#piranha.all {background-position: 25% 25%;}
#arowana.all {background-position: 30% 25%;}
#dorado.all {background-position: 35% 25%;}
#gar.all {background-position: 40% 25%;}
#arapaima.all {background-position: 45% 25%;}
#saddled-bichir.all {background-position: 85% 37.5%;}
#sturgeon.all {background-position: 15% 50%;}
#sea-butterfly.all {background-position: 50% 25%;}
#sea-horse.all {background-position: 55% 25%;}
#clown-fish.all {background-position: 60% 25%;}
#surgeonfish.all {background-position: 65% 25%;}
#butterfly-fish.all {background-position: 70% 25%;}
#napoleonfish.all {background-position: 75% 25%;}
#zebra-turkeyfish.all {background-position: 80% 25%;}
#blowfish.all {background-position: 5% 50%;}
#puffer-fish.all {background-position: 85% 25%;}
#anchovy.all {background-position: 45% 50%;}
#horse-mackerel.all {background-position: 90% 25%;}
#barred-knifejaw.all {background-position: 95% 25%;}
#sea-bass.all {background-position: 100% 25%;}
#red-snapper.all {background-position: 0% 37.5%;}
#dab.all {background-position: 5% 37.5%;}
#olive-flounder.all {background-position: 10% 37.5%;}
#squid.all {background-position: 15% 37.5%;}
#moray-eel.all {background-position: 20% 37.5%;}
#ribbon-eel.all {background-position: 100% 37.5%;}
#tuna.all {background-position: 30% 37.5%;}
#blue-marlin.all {background-position: 35% 37.5%;}
#giant-trevally.all {background-position: 95% 37.5%;}
#mahi-mahi.all {background-position: 50% 50%;}
#ocean-sunfish.all {background-position: 45% 37.5%;}
#ray.all {background-position: 40% 37.5%;}
#saw-shark.all {background-position: 10% 50%;}
#hammerhead-shark.all {background-position: 50% 37.5%;}
#great-white-shark.all {background-position: 55% 37.5%;}
#whale-shark.all {background-position: 0% 50%;}
#suckerfish.all {background-position: 55% 50%;}
#football-fish.all {background-position: 25% 37.5%;}
#oarfish.all {background-position: 90% 37.5%;}
#barreleye.all {background-position: 60% 50%;}
#coelacanth.all {background-position: 60% 37.5%;}
