
h1 {
  font-size: 1em
}

h2 {
  font-size: 1em
}

h3 {
  font-size: 1em
}

body {
  margin: 0
}

#info {
}

@keyframes mymove {
  100% {background-position: 140px 140px;}
}

#left {
  height: 100vh;
  background-color: #eee5be;
  border-spacing: inherit;
}

#tdSpace {
  width: 75px;
  height: 125px;
}

#table {
  border-spacing: 0px;
  background-color: #eee5be;
  border-spacing: inherit;
  display: block; margin-top: 120px
}

#scroll {
  display: none !important;
  background-color: white;
  display: inline-block;
  border-radius: 20px;
  margin-top: -20px;
  position: fixed;
  margin-left: 92%;
  user-select: none;
  cursor: pointer;
}

#scrollRound {
  margin: 4px;
  width: 30px;
  height: 30px;
  background-color: #584f4f;
  border-radius: 50%;
  margin-left: 5px;
  border: 10px;
  float: left
}

#h1Bla {
  margin: 0;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 9px;
  color: white;
}

#scrollText {
  margin: 4px;
  font-size: 1.5em;
  color: #584f4f;
  display: inline-block;
  padding-right: 5px;
}
