
h1 {
  font-size: 1em
}

h2 {
  font-size: 1em
}

h3 {
  font-size: 1em
}

body {
  margin: 0
}

#info {
  display: none;
}

#menu {
  width: 100px;
  display: table;
  margin-left: 20px;
  position: fixed;
  top: 0
}

#menuHead {
  background-color: #ffce1ac4;
  display: inline-block;
  border-radius: 20px;
  margin-left:  -15px
}

#menuH1 {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  color: #584f4f
}

#menuButtons {
  display: table;
  margin: auto;
  margin-top: 0px
}

#menuButton1 {
  width: 50px;
  height: 50px;
  float: left;
  background-color: white;
  border-radius: 50%;
  display: inline-block
}

#menuButton2 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-left: -10px;
  display: inline-block
}

#menuInsect {
  background: url(images/acInsects.png) calc(-100% * 6) 0;
  background-size: 1000%;
  width: 25px;
  height: 25px;
  background-color: white;
  margin: auto;
  margin-top: 15px;
}

#menuFish {
  width: 25px;
  height: 25px;
  background-color: white;
  margin: auto;
  margin-top: 15px;
  text-align: center
}

#left {
  height: 100vh;
  background-color: #eee5be;
  border-spacing: inherit;
}

#tdSpace {
  width: 10px;
  height: 10px;
}

#table {
  border-spacing: 0px;
  background-color: #eee5be;
  border-spacing: inherit;
  display: block;
}

#scroll {
  display: none !important;
  background-color: white;
  display: inline-block;
  border-radius: 20px;
  margin-top: -20px;
  position: fixed;
  margin-left: 92%;
  user-select: none;
  cursor: pointer;
}

#scrollRound {
  margin: 4px;
  width: 30px;
  height: 30px;
  background-color: #584f4f;
  border-radius: 50%;
  margin-left: 5px;
  border: 10px;
  float: left
}

#h1Bla {
  margin: 0;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 9px;
  color: white;
}

#scrollText {
  margin: 4px;
  font-size: 1.5em;
  color: #584f4f;
  display: inline-block;
  padding-right: 5px;
}
